
.bt1:active,.bt2:active{
    transform: translateY(3px);
}
.cartBt{
    cursor: pointer;   
}
.cartBt:active{
    transform: translateY(3px);
}
.btn:active{
    transform: translateY(3px) !important;
}